<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Rick and Morty coding challenge</title>

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <style>
      body {
         padding: 20px 20px 20px 20px;
      }
   </style>
</head>

<body>
   <h1>🧪 Rick and Morty coding test</h1>
   <div class="container">
      <% if (results) { %>
         <div class="jumbotron">
            <% results.forEach(function(str){ %>
               <p>
                  <%= str %>
               </p>
            <% }) %>
         </div>
      <% } %>
   </div>
</body>

</html>